{% extends "form-wizard.njk" %}

{% set mainClasses = "interruption-card" if options.stepType == 'interruption-card' %}

{% block pageTitle %}
  {{ t(options.pageTitle) }}
  – {{ t(frameworkSection) }}
  – {{ t("person-escort-record::page_title") }}
  – {{ SERVICE_NAME }}
{% endblock %}



{% block contentHeader %}
  {% if options.prefilled and not errors.errorList.length %}
    {{ appMessage({
      allowDismiss: false,
      classes: "app-message--info govuk-!-margin-bottom-6",
      title: {
        text: "Some answers on this page have been prefilled and need review."
      }
    }) }}
  {% endif %}

  {{ super() }}
{% endblock %}

{% block submitAction %}
  {{ super() }}

  {% if options.stepType != 'interruption-card' %}
    {{ govukButton({
      text: t("actions::save_and_return_to_overview"),
      name: "save_and_return_to_overview",
      value: "1",
      type: "submit",
      classes: "govuk-button--secondary"
    }) }}
  {% endif %}
{% endblock %}
